body{
	margin: 60px 40px;
	background-color: lightgrey;
}

h1 {
    font-size: 32px;
	font-style: bold;
}

p {
    font-size: 20px;
}

button {
	text-align: center;
	font-size: 30px;
    background-color: lightseagreen;
	padding: 15px 15px 20px 20px;
}

input {
	text-align: left;
	padding: 8px 4px;
	font-size: 16px;
}